body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #EEEEEE; */
}

h1 {
  text-align: center;
  color: #4CCD99;
  margin-top: 60px;
}

h2 {
  text-align: center;
  color: #c1e2d5;
  margin-top: 30px;
}

.container {
  width: 100%;
  height: 100%;
  /* background-color: #EEEEEE; */
}
  
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.hidden {
  display: none;
}
  
#countdownScreen {
  font-size: 1500%;
  color: blue;
}
  
input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

input {
  width: 300px;
}

#startBtn, #stopBtn {
  width: 100px;
  border: none;
  background-color:#007F73;
  color: #DDDDDD;
}

#startBtn:hover, #stopBtn:hover {
  cursor: pointer;
  background-color: chocolate;
}

.preset, #inputScreen {
  width: 100%;
  /* background-color: #EEEEEE; */
}

#inputScreen {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.preset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  margin: 20px;
  background-color: #007F73;
  color: #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.box:hover {
  background-color: yellow;
  color: brown;
  cursor: pointer;
}

.box:hover span {
  display: none
}

[id='1min']:hover:before {
  content: "Green: 30s\A\AYellow: 15s\A\ARed: 5s";
  white-space: pre;
}

[id='2min']:hover:before {
  content: "Green: 1min\A\AYellow: 30s\A\ARed: 0s";
  white-space: pre;
}

[id='3min']:hover:before {
  content: "Green: 1min\A\AYellow: 30s\A\ARed: 0s";
  white-space: pre;
}

[id='5min']:hover:before {
  content: "Green: 3min\A\AYellow: 2min\A\ARed: 30s";
  white-space: pre;
}

[id='6min']:hover:before {
  content: "Green: 2min\A\AYellow: 1min\A\ARed: 0s";
  white-space: pre;
}

[id='7min']:hover:before {
  content: "Green: 2min\A\AYellow: 1min\A\ARed: 0s";
  white-space: pre;
}

[id='10min']:hover:before {
  content: "Green: 4min\A\AYellow: 2min\A\ARed: 30s";
  white-space: pre;
}

[id='20min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='25min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='30min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='35min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='40min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='45min']:hover:before {
  content: "Green: 10min\A\AYellow: 5min\A\ARed: 1min";
  white-space: pre;
}

[id='1hour']:hover:before {
  content: "Green: 15min\A\AYellow: 5min\A\ARed: 2min";
  white-space: pre;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #dddddd;
  color:gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  opacity: 20%;
}

.footer:hover {
  opacity: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: #007F73;
}

@media screen and (max-width: 600px) {

  #countdownScreen {
    font-size: 500%;
    color: blue;
  }

}